
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{css/all.min.css}">
    <link rel="stylesheet" th:href="@{css/framework.css}">
    <link rel="stylesheet" th:href="@{css/master.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
</head>

<body>

    

    <div class="page d-flex">
        <div th:replace="fragments/side-nav::adminsidenav">

        </div>
        
       
            <!-- Start Head -->
           
            <!-- End Head -->
            <section id="dashboard">
            <h1 class="p-relative">Dashboard</h1>

            <div>
                <div style=" margin: 0 auto; width: 800px;"><canvas id="myChart"></canvas></div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['USERS', 'Courses', 'teachers'],
                        datasets: [{
                            label: 'Data',
                            data: [],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
         </section>

         <section id="teacher" style="display: none;">
        <p>1</p>
        
        
        </section>
         <section id="courses" style="display: none;">
            <p>2</p>
        
        
        
        </section>
         <section id="users" style="display: none;">
            <p>3</p>
        
        
        </section>


         <script>
                                                    function showDashboard(event) {
                                                        event.preventDefault();
                                                        document.getElementById('dashboard').style.display = 'block';
                                                        document.getElementById('teacher').style.display = 'none';
                                                        document.getElementById('courses').style.display = 'none';
                                                        document.getElementById('users').style.display = 'none';
                                                    }
                                                    function showTeachers(event) {
                                                        event.preventDefault();
                                                        document.getElementById('dashboard').style.display = 'none';
                                                        document.getElementById('teacher').style.display = 'block';
                                                        document.getElementById('courses').style.display = 'none';
                                                        document.getElementById('users').style.display = 'none';
                                                    }
                                                    function showUsers(event) {
                                                        event.preventDefault();
                                                        document.getElementById('dashboard').style.display = 'none';
                                                        document.getElementById('teacher').style.display = 'none';
                                                        document.getElementById('courses').style.display = 'none';
                                                        document.getElementById('users').style.display = 'block';
                                                    }
                                                    function showcourses(event) {
                                                        event.preventDefault();
                                                        document.getElementById('dashboard').style.display = 'none';
                                                        document.getElementById('teacher').style.display = 'none';
                                                        document.getElementById('courses').style.display = 'block';
                                                        document.getElementById('users').style.display = 'none';
                                                    }

                                                    document.getElementById('dash').addEventListener('click', showDashboard);
                                                document.getElementById('teach').addEventListener('click', showTeachers);
                                                document.getElementById('user').addEventListener('click', showUsers);
                                                document.getElementById('course').addEventListener('click', showcourses);
            
         </script>
           
</body>

</html>