
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <title>Cart</title>
</head>
<body>
   
    <h1>Your Cart</h1>
</br>
</br>
    <div class="shopping-cart">
    
      
    
      <div th:each="course : ${courses}" class="product">
        <div class="product-image">
          <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
        </div>
        <div class="product-details">
          <div class="product-title"  th:text="${course.course_title}"></div>
          <p class="product-description" th:text="${course.course_description}"></p>
        </div>
        <div class="product-price" th:text="${course.course_price}"></div>
        <div class="product-quantity">
          <input type="number" value="2" min="1">
        </div>
        <div class="product-removal">
          <a   th:href="@{../user/remove-cart(courseid=${course.course_id})}" class="remove-product">
            Remove
          </a>
        </div>
        <div class="product-line-price" th:text="${course.course_price}"></div>
      </div>
    
      
    
      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>
        <div class="totals-item">
          <label>Tax (5%)</label>
          <div class="totals-value" id="cart-tax">3.60</div>
        </div>
        <div class="totals-item">
          <label>Shipping</label>
          <div class="totals-value" id="cart-shipping">15.00</div>
        </div>
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total">90.57</div>
        </div>
      </div>
          
          <button class="checkout">Checkout</button>
    
    </div>


<script src="../js/cart.js"></script>
</body>
</html>