
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
   
    <link rel="stylesheet" href="../css/Sidenav.css">

    <link rel="stylesheet" href="../css/MDB css/mdb.min.css">
    <link rel="stylesheet" href="../css/All.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Cart</title>
</head>
<body>
     <!-- TopNav -->
     <div th:replace="fragments/Navbar::navigation"></div>
     <!-- SideNav -->
    <div th:replace="fragments/SideNav::sidenav"></div>
   
    <h1>Your Cart</h1>
</br>
</br>
    <div class="shopping-cart">
    
      
    
      <div th:each="course : ${courses}" class="product">
        <div class="product-image">
          <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
        </div>
        <div class="product-details">
          <div class="product-title"  th:text="${course.course_title}"></div>
          <p class="product-description" th:text="${course.course_description}"></p>
        </div>
        <div class="product-price" th:text="${course.course_price}"></div>
        <div class="product-quantity">
          <input type="number" value="1" min="1">
        </div>
        <div class="product-removal">
          <a   th:href="@{../user/remove-cart(courseid=${course.course_id})}" class="remove-product">
            Remove
          </a>
        </div>
        <div class="product-line-price" th:text="${course.course_price}"></div>
      </div>
    
      
    
      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value" id="cart-subtotal">71.97</div>
        </div>
        <div class="totals-item">
          <label>Tax (5%)</label>
          <div class="totals-value" id="cart-tax">3.60</div>
        </div>
        <div class="totals-item">
          <label>Shipping</label>
          <div class="totals-value" id="cart-shipping">15.00</div>
        </div>
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total">90.57</div>
        </div>
      </div>
          
          <button class="checkout">Checkout</button>
    
    </div>

<script src="../js/side-nav.js"></script>
<script src="../js/cart.js"></script>
</body>
</html>