<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Your profile</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">


    <head>

        <link rel="stylesheet" href="/css/Sidenav.css">
        <link rel="stylesheet" href="/css/MDB css/mdb.min.css">

        <link rel="stylesheet" href="../css/courses.css">

        <link rel="stylesheet" href="/css/All.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        

    </head>

    <style>
    .tags-container {
        width: 100%
    }

    .tags-container .tag {
        display: inline-block;
        padding: 3px 12px;
        font-size: 13px;
        background: #eee;
        margin: 3px;
        border-radius: 5px;
        text-transform: lowercase;
        cursor: default;
    }

    .tags-container .tag .tag-close {
        cursor: pointer;
        margin-left: 5px;
        font-size: 10px;
    }
    </style>

    <body style="background-color: #ebeff4; overflow: hidden;">
      <div th:replace="fragments/Navbar::navigation"></div>

    <!-- SideNav -->
    <div th:replace="fragments/SideNav::sidenav"></div>

        <!-- Loaders -->
        <div class="text-center transition transition-1 is-active" id="preloading">

            <div style="margin-top: 100px">

                <img src="../images/loader.gif">

            </div>
            <p style="margin-top: 20px;    
            color: #0f141a;
            font-size: 3.0rem;
            font-weight: bolder;">Arab Data Hub</p>
        </div>


        
        <section class="bg-white ">

            <div>

                <div class=" d-flex justify-content-center align-items-center ">
                    <div class="col-12 ">

                        <div class="mt-5 p-4 py-5 ">
                            <div class="row" style="margin-left: 35px; ">
                                <div class="col-lg-1 col-4 me-5">


                                    <img src=""
                                        alt="" size="48" height="120" width="120"
                                        class="rounded rounded-5">

                                </div>
                                <div class="col-lg-3  col-5 ">
                                    <p class="fs-1 "></p>
                                   
                                </div>
                            </div>

                            <div class="row mt-4">

                              <!-- side nav -->

                              <div class="col-lg-3">
                                <div class=" mb-4 mb-lg-0">
                                    <div class=" p-0">
                                    <ul class="list-group">
                            
                           
                                       
                                        <li class="list-group-item d-flex justify-content-start align-items-start pt-3 w-100">
                                            <div class="dropdown w-100">
                                                <a class="btn btn-light w-100 dropdown-toggle active" href="#" role="button" id="dropdownMenuLink"
                                                   data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">My Courses
                                                </a>
                                                <ul class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuLink">
                                                    <li><a id="addCourseLink" class="dropdown-item" href="">Add Courses</a></li>
                                                  
                                                    <li><a id="viewCourseLink" class="dropdown-item" href="">View Courses</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        
                                        <li class="list-group-item d-flex justify-content-start align-items-start pt-3 w-100">
                                            <div class="dropdown w-100">
                                                <a class="btn btn-light w-100 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                   data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">Course Content
                                                </a>
                                                <ul class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuLink">
                                                    <li><a id="addCourseContentLink" class="dropdown-item" href="">Add Content</a></li>
                                                  
                                                    <li><a class="dropdown-item" href="">View Content</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        
                            
                            </ul>
                            
                                    </div>
                                </div>
                            </div>
                               
                                <div class="col-lg-8 ">
                                    <div class=" mb-4">
                                        <div class="">
                                            
                                            <hr>

                                            <section  id="addCourseSection" class="playlist-form">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <p class="mb-0" style="font-size: 1.5rem;">Add New Course</p>
                                                    </div>
                                                </div>
       

                                                <form action="../courses/save-course" method="post" enctype="multipart/form-data">
                                                    <p>Course status <span>*</span></p>
                                                    <select name="course_status" class="box" >
                                                        <option value="" selected disabled>-- select status</option>
                                                        <option value="active">Active</option>
                                                        <option value="deactive">Deactive</option>
                                                    </select>
                                                    <span th:each="error : ${errors}" th:if="${error.field == 'course_status'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
                                        
                                                    <p>Course title <span>*</span></p>
                                                    <input type="text" name="course_title" maxlength="100"  placeholder="enter playlist title" class="box">
                                                    <span th:each="error : ${errors}" th:if="${error.field == 'course_title'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
                                        
                                                    <p>Course description <span>*</span></p>
                                                    <textarea name="course_description" class="box"  placeholder="write description" maxlength="1000" cols="30"
                                                        rows="10"></textarea>
                                                        <span th:each="error : ${errors}" th:if="${error.field == 'course_description'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
                                                    <p>Course requirements <span>*</span></p>
                                                    <textarea name="course_requirements" class="box"  placeholder="write requirements" maxlength="1000"
                                                        cols="30" rows="10"></textarea>
                                                        <span th:each="error : ${errors}" th:if="${error.field == 'course_requirements'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
                                                   
                                                    
                                                    <p>Course Price <span>*</span></p>
                                                    <input type="text" name="course_price" maxlength="100"  placeholder="enter playlist Price" class="box">
                                                    <span th:each="error : ${errors}" th:if="${error.field == 'course_price'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
                                                    <p>Course thumbnail <span>*</span></p>
                                                    <input type="file" name="course_thumbnail" accept="image/*"  class="box">
                                                    <input type="submit" value="Add course" name="submit" class="btn">
                                                </form>
                                        
                                            </section>

                                            <section id="viewCourseSection"  style="display: none;">
                                            <div class="col-lg-8 ">
                                                <div class=" mb-4">
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <p class="mb-0" style="font-size: 1.5rem;"> Your Course</p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                
                                                        <section class="playlists">

                                                            <div class="box-container">
                                                
                                                                
                                                                <div th:each="course: ${courses}" class="box">
                                                                    <div class="flex">
                                                                        <div>
                                                                            <i class="fas fa-circle-dot" style="color:limegreen"></i>
                                                                            <span style="color:limegreen" th:text="${course.course_status}"></span>
                                                                        </div>
                                                                        <div><span style="color:red" name="course_price" th:text="${course.course_price}"></span></div>
                                                                    </div>
                                                                    <div class="thumb">
                                                                        <span>0</span>
                                                                        <img src="" alt="">
                                                                    </div>
                                                                    <h3 class="title" name="course_title" th:text="${course.course_title}"></h3>
                                                                    <p class="description" name="course_description" th:text="${course.course_description}"></p>
                                                                    <div class="flex-btn">
                                                                        <a href="" class="btn btn-warning w-100">update</a>
                                                                        <a class="btn btn-danger w-100">delete</a>
                                                                    </div>
                                                
                                                                                           
                                                </div>
                                                </section>
                                         
                                          
                                    </div>
                                </div>
                            </div>
        </section>

        <section  id="addCourseContent"   style="display: none;" class="playlist-form">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0" style="font-size: 1.5rem;">Add Course Content</p>
                </div>
            </div>


            <form action="../courses/save-course-content" method="post" enctype="multipart/form-data">
                
                
    
                <p>Video title <span>*</span></p>
                <input type="text" name="video_title" maxlength="100"  placeholder="Enter video title" class="box">
                <span th:each="error : ${errors}" th:if="${error.field == 'video_title'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
    
                <p>Choose course to add content in it <span>*</span></p>
                <select name="course_id" class="box">
                    <option value="" selected disabled>-- Select course --</option>
                    <!-- Iterate over the list of courses and generate options -->
                    <option th:each="course : ${courses}" th:value="${course.course_id}" th:text="${course.course_title}"></option>
                </select>
                <span th:each="error : ${errors}" th:if="${error.field == 'course_id'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
            

                <p>Video description <span>*</span></p>
                <textarea name="video_description" class="box"  placeholder="write description" maxlength="1000" cols="30"
                    rows="10"></textarea>
                    <span th:each="error : ${errors}" th:if="${error.field == 'video_description'}" class="alert" th:text="${error.defaultMessage}" style="color: red; width: max-content;"></span>
                
                <p>Video thumbnail <span>*</span></p>
                <input type="file" name="video_thumbnail" accept="image/*"  class="box">
               
                

                <p>Attach Video <span>*</span></p>
                <input type="file" name="video_play" accept="image/*"  class="box">
                </br>
                <input type="submit" value="Add video" name="submit" class="btn">

            </form>
    
        </section>





        <script src="/js/Loaders.js"></script>
        <!-- MDB -->
        <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
    >
    </script>
<script src="../js/side-nav.js"></script>
<script>
 
    

 function showAddCourseSection(event) {
    event.preventDefault();
    document.getElementById('addCourseSection').style.display = 'block';
    document.getElementById('viewCourseSection').style.display = 'none';
    document.getElementById('addCourseContent').style.display = 'none'; 
}

function showViewCourseSection(event) {
    event.preventDefault(); 
    document.getElementById('viewCourseSection').style.display = 'block';
    document.getElementById('addCourseSection').style.display = 'none';
    document.getElementById('addCourseContent').style.display = 'none'; 
}

function showAddCourseContentSection(event) {
    event.preventDefault(); 
    document.getElementById('addCourseContent').style.display = 'block';
    document.getElementById('viewCourseSection').style.display = 'none';
    document.getElementById('addCourseSection').style.display = 'none';
}


document.getElementById('addCourseLink').addEventListener('click', showAddCourseSection);
document.getElementById('viewCourseLink').addEventListener('click', showViewCourseSection);
document.getElementById('addCourseContentLink').addEventListener('click', showAddCourseContentSection); // Add event listener for the "Add Course Content" link



    
 
</script>

    </body>

    </html>