<div th:fragment="adminsidenav" class="sidebar bg-white p-20 p-relative ">
        <a href="">
            <h3 class="p-relative txt-c mt-0">Arab Data Hub</h3>
        </a>
        <ul>
            <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="" id="dash">
                    <i class="fa-regular fa-chart-bar fa-fw"></i>
                    <span>Dashboard</span>
                </a>
            </li>
           

            <li>
                <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="" id="teach">
                    <i class="fa-solid fa-diagram-project fa-fw"></i>
                    <span>Instructor's request</span>
                </a>
            </li>
            <li>
                <a href="" class="d-flex align-center fs-14 c-black rad-6 p-10" id="course">
                    <i class="fa-regular fa-circle-user fa-fw"></i>
                    <span>Courses</span>
                </a>
            </li>
            <li>
              
                    <a href="/admin/users" class="d-flex align-center fs-14 c-black rad-6 p-10" id="user">
                        <i class="fa-regular fa-circle-user fa-fw"></i>
                        <span>Users</span>
                    </a>
               
            </li>


        </ul>
</div>

